doctype html
html(lang='en')
  head
        title NewUrl 
        style 
         include public/style.css

  body
    h1.head Your new URL 
      div.show-short-url url-shortner-2.noavrd.repl.co/#{shortUrl}      
         