<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener</title>
    <link rel="icon" type="image/png" href="../public/favicon.ico" />
    <link rel="stylesheet" href="./public/style.css" type="text/css" />
  </head>

  <body>
    <div id = "headline">
      <h1>Short it!</h1>
      <h3>A url shortener service</h3>
    </div>
    <main>
      <section>
        <form action="api/shorturl/new" method="POST">
          <fieldset>
            <input
              id="url_input"
              type="text"
              name="url"
              placeholder="Enter url"
              required
            />
            <input type="submit" value="CREATE" />
            <button action="api/statistics/" method="GET">statistics</button> 

          </fieldset>
        </form>
      </section>
    </main>
    <footer>
      <!-- <p>By <a href="https://www.freecodecamp.org/">freeCodeCamp</a></p> -->
    </footer>
  </body>
</html>
