body {
  font-family: 'Barlow Condensed', sans-serif;
        font-size: 16px;
  color: #222;
  background-color: #f1f1ef;
  /* text-align: center; */
  line-height: 1.4em;
}

#first {
  padding-top: 10%;
}


main {
  padding: 0;
  margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

.user-stories li {
  margin-bottom: 1em;
}

a {
  color: #2574a9;
}

form {
  /* margin: 10px auto;
  padding: 20px; */
  /* width: 200%; */
}
span {
  font-size: 20vh;
}

/* input {
  padding: 5px;
} */

input[type='text'] {
  /* border: none;
  border-bottom: 2px solid ; */
  /* border:0; 
  border-bottom:1px solid #eee; */
  text-align: center;
  margin-bottom: 1%;
  padding: 1%;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  width: 60%;

/* width: 150%; */
}
button, input[type='submit'] {
  cursor: pointer;
  border-radius:10px;
  padding: 1%;
  transition-duration: 0.5s;

}

button:hover, input[type='submit']:hover {
  background-color: #fff6ef;
  color: black;
  
}

input:focus {
  background-color:#fff6ef;
}
#headline {
  /* background:#ecc2a4;
  border-bottom: 10px solid black;
  padding-top: 2%;
  color: white; */
}

h1 {
  font-size: 10vh;
}

fieldset {
  /* width: 200%; */
  border-radius:10px;
  padding-bottom: 1%;
  background-color: #c0c4f0;
  /* border: none; */
}